body {
    
}
.logo_dangky {
    margin-left:50%;
    margin-right:50%;
}
.mauchu{
    color: #ff0000;
    margin:0;
}
.ten_trang {
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
}
.thongtin {
  display:flex;
    
}
.thongtin_lable {
    text-align:center;
    margin-left: 20%;
    font-size: 21px;
}
.thongtin_textbox{
    margin-right: 20%;
}
.thongtin_list {
    list-style: none;
}
.thongtin_listbox{
    list-style: none;
}
/*#txt_Tencuahang, #txt_diachi, #txt_phone, #txt_mail, #txt_cmnd, #txt_tennganhang {
    background-color: #D9D9D9;
}*/
#txt_Tencuahang, #txt_diachi, #txt_phone, #txt_mail, #txt_cmnd, #txt_tennganhang, #txt_tknganhang {
    background-color: #D9D9D9;
}
.anh_ima {
    display: flex;
    margin-top: 20px;
    margin-left: 200px;
}
#Image_btn_dangky {
    height: 120px;
    width: 120px;
    margin: 15px 15px 15px 15px;
}
.taianh {
    margin-left: 170px;
    margin-top: 50px;
}
#btn_taianh{
    
}
.anh {
    background-color: #D9D9D9;
    border: groove;
    width: 150px;
    height: 150px;
}
li{
    
    margin-top:10px;
}
.dangky {
    text-align: center;
    margin-top: 35px;
}
#btn_dangky{
    background-color:orangered;
}
