body {
    
}
.themsp {
    height: 220px;
    display: flex;
}
#Image_btn_them{
    width:70px;
    height:70px;

}
.themsp_Image{
    margin:40px 40px 40px 40px;
}
.themsp_line{
    background-color:orangered;
    margin-top:15px;
    width:3px;
    height:120px;
    border-radius:10px;
}
.themsp_chu{
    height:110px;
    width:800px;
}
.chu_trang {
    margin-right:300px;
    margin-top: 65px;
    text-align: center;
    font-size: 50px;
    color: orangered;
}
.themsp_taikhoan {
    position: relative;
    text-align: center;
    margin-left: 250px;
    width: 550px;
}
.themsp_hinh{

}
.themsp_tk {
    margin-left: 35px;
    font-size: 24px;
}
.account_tt_tk, .acount_tc, .acount_ds {
    margin-top: 10px;
}
a {
    text-decoration: none;
}
#Image_btn_tk {
    height: 30px;
    width: 30px;
}
#Image_anh_sp {
    height: 120px;
    width: 120px;
    margin: 16px 16px 16px 16px;
    display: flex;
}
.sanpham {
    width: 400px;
    text-align: center;
}
.sanpham_chu{

}
.them{
    font-size:28px;
    display:flex;
}
.chu {
    font-size: 28px;
}
.sanpham_anh {
    background-color: #D9D9D9;
    border: groove;
    width: 156px;
    height: 156px;
    margin-left: 120px;
}
.sanpham_btn {
    margin-top: 40px;
}
#btn_taianh{

}
.sanpham_line {
    background-color: #000000;
    width: 3px;
    height: auto;
    border-radius: 10px;
}
.thongtin{
    

}
.thongtin_list_1, .thongtin_list_2, .thongtin_4_21, .thongtin_4_11 {
    list-style: none;
}
.thongtin_1{
    display:flex;
}
.thongtin_2 {
    margin-left: 70px;
    font-size: 32px;
}
.thongtin_3 {
    height: 3px;
    background-color: #000000;
    width: 1300px;
    margin-left: 70px;
}
.thongtin_4{
    margin-top:40px;
    display:flex;
}
.thongtin_lable, .thongtin_4_1 {
    text-align: center;
}
.them_btn {
    text-align: center;
    margin-top: 35px;
}
#btn_themsp {
    background-color: orangered;
}
li {
    margin-top: 10px;
}
.account{
    list-style:none;
}
.account_linkbtn {
    position: absolute;
    margin-top: 10px;
    margin-left: 25%;
    font-size: 22px;
    background-color: #D9D9D9;
    height: 150px;
    width: 250px;
    transform-origin: 50% top;
    animation: account ease-in 0.3s;
    font-weight: bolder;
    display: none;
}
.account_them--has--account:hover .account_linkbtn{
    display:block;
}
.account_linkbtn::before {
    content: "";
    border: 20px solid;
    border-color: transparent transparent #D9D9D9 transparent;
    position: absolute;
    right: 110px;
    top: -40px;
}
@keyframes account {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
